<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Pheonix API Test" verbose="1">
  

  <test name="Inwarranty Flow">
    <classes>
      <class name="com.api1.test.LoginApiTest"/>
      <class name="com.api1.test.UserdeatilsTest"/>
      <class name="com.api1.test.CountApiTest"/>
      <class name="com.api1.test.MasterApiTest"/>
    </classes>
  </test>
</suite>